* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
    background: linear-gradient(300deg, #133E87, #608BC1, #CBDCEB)
}

.game-container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.score-board {
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transform: rotateY(0deg);
    transition: transform 0.5s;
}

.card img {
    max-width: 80%;
    max-height: 80%;
    display: none;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card.flipped img {
    display: block;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}
